<h1>Address</h1>

<% if @addresses.any? %>
	<ul>
		<% @addresses.each do |address| %>
			<li>
				<h2><%= address.street %></h2>
				<% end %>
			</li>
		</ul>
<% else %>
	<h3>No addresses, please create one!</h3>
<% end %>


<%= link_to 'New Address', new_address_path %>